.App {
  min-width: 320px;
  max-width: 2000px;
  margin: auto;
}

/*Global Styles */
:root {
  --appColor: rgb(169, 143, 219);
  --appColorDark: rgb(124, 84, 197);
}

/* Header Text */ 
.screenHeader {
  text-align: center;
  font-size: 2rem;
}

.text1 {
  font-size: 1.25rem;
}
.subText1 {
  font-size: 1rem;
}

/*Nav Section */
.navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navLi {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  float: left;
}
.navLi:hover {
  cursor: pointer;
  background-color: var(--appColor);
  color: black;
}

/*Duration Section */
.durationDiv {
  text-align: center;
}

.customButton {
  background-color: var(--appColor);
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 0 0 0 10px;
}
.customButton:hover {
  cursor: pointer;
  background-color: var(--appColorDark);
  transition: 0.4s ease;
}
.customButton:disabled {
  cursor: default;
  opacity: 0.4;
}


.inputLabel {
  margin-bottom: 20px;
  display: block;
}

/*Start / End Time */
.timeDiv {
  text-align: center;
}